html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
#app {
  height: 100%;
}
.login {
  width: 100%;
  height: 100%;
  background: url(../assets/sign_bg.png) top center;
  background-size: cover;
  background-color: #b8e5f8;
}
.login-img {
  text-align: center;
  padding-top: 60px;
}
.login-img img {
  width: 100px;
  height: 100px;
}
.login-item {
  display: flex;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginleft {
  width: 320px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}
.loginright {
  width: 320px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}
.loginleft-title {
  line-height: 23px;
  font-weight: 600;
  font-size: 16px;
  padding: 20px;
}
.loginleft-erm {
  margin: 10px;
}
.loginleft-erm img {
  width: 180px;
  height: 180px;
}
.login-right {
  width: 430px;
  background-color: #fff;
}
.loginleft-message {
  line-height: 23px;
  font-weight: 600;
}
.loginleft ul {
  display: flex;
  margin-top: 20px;
  list-style: none;
}
.loginleft ul li {
  margin: 0 5px;
}
.loginleft .el-button {
  font-size: 10px;
}
.login-item .el-input {
  margin-top: 20px;
}
.login-item .el-input__wrapper {
  padding: 7px;
}
.login-item .el-button {
  width: 100%;
  margin-top: 20px;
}
/* 登录按钮 */

.otherwise-title {
  margin-top: 20px;
  color: #9198a4;
  font-size: 14px;
}
.otherwise-title::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  width: 200px;
  height: 1px;
  background-color: #eee;
}
.otherwise-title::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  height: 1px;
  background-color: #eee;
}
.otherwise ul {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding-top: 20px;
  list-style: none;
  padding-inline-start: 0px;
  width: 180px;
  text-align: center;
}
.otherwise ul li svg {
  width: 30px;
  background-color: #f6f6f8;
  border-radius: 50%;
  padding: 5px;
}

/* 页面头部 */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 1px 3px #ddd;
}
.appheader {
  display: flex;
  align-items: center;
  max-width: 1280px;
  min-width: 1000px;
  margin: auto;
}
.el-container .el-header {
  --el-header-padding: 0px;
}
.el-header .el-menu--horizontal {
  padding-left: 0;
  border: 0;
  width: 530px;
  margin-left: 25px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
/* 搜索框 */
.header-search {
  display: flex;
  max-width: 400px;
  margin-right: 15px;
  position: relative;
}
.header-search input {
  width: 380px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #eee;
  background-color: #f8f8fa;
  border-radius: 999px;
}
.header-item {
  display: flex;
}
.header-search svg {
  border: 0;
  background: 0;
  font-weight: 600;
  color: #9198a4;
  position: absolute;
  right: 10px;
  top: 5px;
}
.header-userinfo {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-left: 20px;
}
.popover {
  text-align: center;
  margin-right: 24px;
  color: #9198a4;
  white-space: norap;
  position: relative;
}
.popover p {
  margin-top: 0; /* 或者根据需要设置其他方向的 margin */
  margin-bottom: 0; /* 例如：减少上或下的间距 */
  padding: 0;
}
.popover-num {
  position: absolute;
  right: -8px;
  top: -7px;
  background-color: #d95350;
  border-radius: 20px;
  padding: 0 4px;
  border: 2px solid #fff;
  transform: scale(0.85);
}

.header-profile {
  width: 40px;
  height: 40px;
}
.el-dropdown-link {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}
.el-dropdown-item {
  text-align: left;
}
.el-dropdown-item svg {
  margin-right: 7px;
}
.content {
  display: flex;
  width: 1000px;
  margin: 20px auto;
}
.content-left {
  width: 700px;
  flex-shrink: 0;
  margin-right: 10px;
}
.content-righgt {
  width: 300px;
}
.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px #ddd;
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.Topstory-content {
  display: flex;
  flex-wrap: wrap;
}
.Topstory-content ul {
  padding: 20px;
  list-style: none;
}
.Topstory-content>ul>li {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.topstory-hd {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.topstory-hd img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}
.topstory-hd span {
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
}
.topstory-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
}
/* 多行省略 */
.topstory-articleitem {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 14px;
  line-height: 24px;
}
.topstory-actions ul{
  display: flex;
  padding: 20px 0;
}
.topstory-actions ul li{
  display: flex;
  text-align: center;
  margin-right: 25px;
}
.icon-text {
  display: flex;
  align-items: center; /* 确保图标和文字垂直居中对齐 */
}
.icon-text span {
  margin-left: 8px; /* 根据需要调整图标与文字之间的距离 */
}